/* Debugging Outline */
/* * {
    outline: 2px dotted rgb(255, 98, 255);
} */

/* Theme Variables */
:root {
    --background-color: #f5f5f5;
    --primary-color: #d2d2d2;
    --secondary-color: #e4e2e2;
    --text-color: #2b0000;
    --accent-color-1: #AA2E00;
    --accent-color-2:#b9b9b9;
    --header-small-height: 60px;
    --font-size-title: 32px;
    --line-height-title: 42px;
    --font-size-subtitle: 22px;
    --line-height-subtitle: 34px;
    --font-size-body: 18px;
    --line-height-body: 32px;
    --font-size-small: 14px;
    --line-height-small: 30px;
}

[data-theme="dark"] {
    --background-color: #121212;
    --primary-color: #4a4a4a;
    --secondary-color: #353535;
    --text-color: #f5f5f5;
    --accent-color-1: #FF8C00;
    --accent-color-2:#646464;
}

/* Global Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* width:100%; */
    /* overflow-x:hidden; */
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--accent-color-1);
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}

p {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px var(--accent-color-2);
    position: sticky;
    top: 0;
    color: var(--text-color);
}

.header__logo {
    display: flex;
    width: 70px;
}

.header__nav {
    display: none;
}

.hamburger-icon {
    display: none;
}

.header.small {
    height: var(--header-small-height);
    background-color: var(--primary-color);
}


.header.small .header__logo {
    height: calc(var(--header-small-height) - 25px);
    width:fit-content; 
}

.header__toggle-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.header__logo-and-title {
    display: flex;
    gap: .25rem;
    align-items: center;
}

.header__title h1 {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.header.small .header__title h1 {
    font-size: 1rem;
}

.header__tagline {
    margin: 2.5rem;
    text-align: center;
    line-height: 1.5;
    font-weight: normal;
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
}

.header__tagline a {
    text-decoration: none;
    font-variant: normal;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 1px;
}

/* Main Content */
.main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Blog Styles */
.blog__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.blog__card {
    width: 300px;
    height: 450px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--accent-color-2);
    padding: 30px;
}

h2.blog__card__title {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

h3.blog__card__subtitle {
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
}

.blog__entry {
    /* width: 70%; */
    background-color: var(--secondary-color);
    padding: 2rem;
}

.blog__entry__image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.blog__entry__content {
    /* padding: 20px; */
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}

.blog__entry__title {
    margin-top: 0;
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.blog__entry__subtitle {
    margin-bottom: 0;
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
}

.blog__entry__back-button {
    border: none;
    background-color: var(--secondary-color);
    font-size: 2rem;
    margin: 10px auto;
    padding: 5px;
    color:var(--accent-color-1)
}

/* About styles */
.about__container {
    display: none;
}

/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    width:max-content;
    margin: 0px 20px;
    letter-spacing: 1px;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}

.footer__contact p {
    letter-spacing: 1px;
}

.footer__contact img {
    width:14px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    bottom:0;
    background-color: var(--primary-color);
}

.footer__nav button {
    border: none;
    background-color: var(--primary-color);
}

.footer__nav  i {
    font-size: var(--font-size-subtitle);
    color:var(--accent-color-1);
}

.search-bar {
    padding: 5px;
    margin-left: 10px;
    font-size: var(--font-size-body);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    display: none;
}

.footer__nav .search-button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: var(--accent-color-1);
    color: var(--background-color);
    font-size: var(--font-size-body);
    border-radius: 3px;
    cursor: pointer;
    display: none; 
}

.footer__nav__button_hide {
    display: inline-flex;
    align-items: center;
}

.footer__contact__social {
    display: flex;
    gap:30px;
}

.footer__contact__social i {
    font-size: var(--font-size-body);
}

.copyright {
    align-self:center;
}

.copyright img {
    width:14px;
}

/* Media Queries */
@media only screen and (min-width: 525px) {
    body {
        flex-direction: row;
    }
    .wrap {
        margin-right: 100px;
    }
    .header__nav {
        display: none;
        text-align: right;
    }
    
    .header__nav.show-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--primary-color);
        width: max-content;
        box-shadow: 0 3px 4px var(--accent-color-2);
    }
    
    .header__nav a {
        text-decoration: none;
        margin-right: 20px;
        display: block;
        padding: .25rem;
    }
    
    .header__nav li {
        display: inline;
        letter-spacing: 1px;
        word-spacing: 5px;
        line-height: 1.5;
    }
    
    .header__nav__search-icon {
        margin-right: 20px;
        padding: .25rem;
        align-self: center;
        color: var(--accent-color-1);
        font-size: var(--font-size-body);
        line-height: var(--line-height-body);
    }
    
    .hamburger-icon {
        font-size: var(--font-size-title);
        font-weight: bold;
        display: inline-block;
        border: none;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        color: var(--accent-color-1);
    }

    .header__nav {
        display: flex;
    }

    .header__nav ul {
        display: flex;
        align-items: center;
    }

    .hamburger-icon {
        display: none;
    }

    /* Blog styles */
    .blog__entry {
        width: 40%;
        background-color: var(--secondary-color);
    }

    /* About styles */
    .about__container {
        display: block;
        margin: 30px auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .about__text {
        width:60%;
    }

    .about__img img {
        max-width: 50px;
    }

    .about {
        flex-direction: row;
    }


    /* .footer__nav {
        justify-content: space-around;
    }

    .footer__nav__button_hide {
        display: none;
    } */

    .footer__nav {
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        position: fixed;
        padding-top: 100px;
        /* margin-top: 20px;
        padding-top: 40px; */
        right: 0;
        left:auto;
        top:0;
        bottom:auto;
        height: 100vh;
    }
}
